@use '../abstracts/palette';
@use '../abstracts/grid';


.c-edit-product-form__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @include grid.breakpoint(md) {
        width: 50%;
    }

    @include grid.breakpoint(xl) {
        width: 33%;
    }
}

.c-edit-product-form__label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    font-weight: bold;
}

.c-edit-product-form__input {
    padding: 6px;
    border: 1px solid palette.$gray-border;
    border-radius: 8px;;
    font-weight: normal;
}

.c-edit-product-form__price-container {
    display: flex;
    align-items: center;
}

.c-edit-product-form__price-symbol {
    justify-self: flex-end;
    font-weight: normal;
    margin-right: 4px;
}

.c-edit-product-form__validation {
    font-size: 12px;
    width: 100%;
    text-align: end;
    color: palette.$button-danger-color;
    margin-bottom: 16px;
}

.c-edit-product-form__description {
    flex-grow: 1;
    margin-left: 10px;
}

.c-edit-product-form__submit {
    width: fit-content;
    margin-left: auto;
}