@use '../abstracts/list';
@use '../abstracts/grid';
@use '../abstracts/palette';

.c-product-grid {
    @include list.unstyled;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.c-product-grid__item {
    width: 100%;

    @include grid.breakpoint(md) {
        width: 50%;
    }

    @include grid.breakpoint(xl) {
        width: 33%;
    }
}

.c-product-grid__link {
    background-color: palette.$gray-background;
    padding: 8px;
    margin: 8px;
    display: block;
    text-decoration: none;
    border-radius: 4px;
}

.c-product-grid__name {
    font-size: 28px;
    margin-bottom: 10px;
}

.c-product-grid__details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6px;
}

.c-product-grid__price {
    margin-right: 6px;
}

.c-product-grid__description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}