$blue-primary-dark: #052e5a;
$blue-primary: #063970;
$blue-primary-medium-light: #38618d;
$blue-primary-light: #6a88a9;

$gray-background: #efefef;

$button-color: $blue-primary-light;
$button-hover-color: #556d87;

$toast-background-color: #cf684e;